{% extends 'base.html.twig' %}

{% block title %}Inscrivez-vous à notre tirage au sort !{% endblock %}

{% block body %}



        


        <h1 class="text-center">INSCRIVEZ-VOUS A NOTRE TIRAGE AU SORT</h1>
        <div class="col-6 text-center mx-auto">
            {{form(form)}}

        </div>


        <div class="h3 col-sm-12 mx-auto text-center my-5">
            {% for message in app.session.flashbag.get('message') %}
            <span class="alert alert-{{ app.session.get('statut')}}">{{message}}</span>
            {% endfor %}
        </div>

{% endblock %}









