{% extends 'base.html.twig' %}

{% block title %}BIENVENUE A NOTRE TIRAGE AU SORT{% endblock %}

{% block body %}


<div class="container">
 <h1 class="text-center">BIENVENUE A NOTRE TIRAGE AU SORT !</h1>


    <h2>Veuillez choisir votre lot !</h2>



    
</div>



{% endblock %}









